:root {
  --myFont: 'Nothing You Could Do', cursive;
  --red: #ff0000;
  --orange: #ffa500;
  --ltYellow: #ffffcc;
  --yellow: #ffff00;
  --yellowGreen: #9acd32;
  --green: #008000;
  --blue: #0000ff;
  --purple: #8a2be2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 42px;
}

.container {
  color: var(--ltYellow);
  position: relative;
  transform: translateY(5%);
  font-family: var(--myFont);
}

.anda {
  text-align: right;
}

.holiday {
  text-align: center;
}

.wishing {
  transform: translateY(10%);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.yellowgreen {
  color: var(--yellowGreen);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}